html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  font-style: 14px;
  font-weight: 400;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
}
