
@media(max-width:750px){
  .header{
    &__bars-btn{
      display: block;
      padding-right: 15px;
    }
  }
  .menu{
    position: absolute;
    padding: 30px 0;
    top: 77px;
    left: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    opacity: 0;
    transform: translateY(-200%);
    transition: opacity .3s;
    &--active{
      transform: translateY(0);
      opacity: 1;
    }
    &__item{
      display: block;
    }
  }

  .menu__item+.menu__item {
    margin-left:0;
    margin-top: 25px;
}
}