$accent: #fff;
$default2: #666666;
$default: #bebebe;
$bg: #000000;
$bg-btn: #323232;
$bg-gray: #1a1a1a;
$hover:#d3d1d1;
$border: #fff9;

/* %checkbox-reset{
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
 }
 */

 %btn{
  display: inline-block;
  height: 50px;
  width: 250px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: $accent;
  text-transform: uppercase;
  border:1px solid $border;
  background-color: $bg-btn;
  transition: all .3s;
  text-shadow: none;
  cursor: pointer;
  &:hover{
    box-shadow: 0 0 0 3px #fff;
  }
 }
 
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
 }
 @function min($numbers...) {
  @return m#{i}n(#{$numbers});
 }